*body{
    margin: 0px;
    padding: 0px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit],button{
    width: 100%;
    background-color:blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  div {
    border-radius: 5px;
    background-color:white;
    padding: 10px;
    margin: 10px;
    width:50%
  }
  /* #vname{
      color: red;
      font-weight: bold;
  }  */
   span{
    color: red;
     font-weight: bold;  
  }
  .data{
      float: right;
      margin: 10px;
      padding: 50px;
  }
  th{
      background:green;
      color: white;
      padding: 5px;
      
  }

  .edt{
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    height: 50%;
  }
  .upd{
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 20px;
  }
  .dlt{
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    height: 50%;
  }
  .update_btn{
    width: 400px;
    background-color: orange;
    float: left;
  }   
