<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\JS-PROJECT\CSS\style.css">
    <title>Student Form</title>
</head>
<body>
    <h1>Student Mangement System</h1>
    <div class="data">
        <table id="tb1" border="1">
            <tr>
                <th>StudentName</th>
                <th>RollNO</th>
                <th>Department</th>
                <th>Joining-year</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Action</th>
                <th>Select</th>
                <th>Edit</th>
                <th>Done</th>
         </tr>
            
        </table>
    </div>

<div>
  <div>
    <label for="sname">Name Of Student</label>
    <input type="text" id="sname" name="name" placeholder="Your name..">
    <span id="vname"></span><br><br>

    <label for="roll">RollNo</label>
    <input type="text" id="roll"  placeholder="Your Roll No..">
    <span id="rn"></span><br><br>

    <label for="Department">Department</label>
    <select id="dept">
      <option value="">None</option> 
      <option value="Computer">Computer</option>
      <option value="Maths">Maths</option>
      <option value="Science">Science</option>
      <option value="IT">IT</option>
      <option value="Electrical">Electrical</option>
    </select>
    <span id="dpt"></span><br><br>

    <label for="Joining">Joining-Year</label>
    <select name="year" id="year" required></select>
   
    <!-- <span id="yr"></span><br><br> -->
    <!-- <h3>birthday</h3> -->
    <label for="birthday">Birthday</label><br><br>
    <input type="date"  name="birthday" id="birthday"> <br><br>
    <span id="birth"></span><br><br>

    <label for="gender">Gender</label><br><br>
    <input type="radio"  name="Gender" value="Male" checked required> Male 
    <input type="radio"  name="Gender" value="Female" required> Female
    <span id="gend"></span>
   
   
    <input type="submit" onclick="validation()" value="Submit">
    <!-- <button id="btn1" onclick="editdata()">Edit Data</button> -->
    <button id="btn" onclick="delMultiple()">RemoveSelectedROw</button>
   
</div>
</div>
    
<script src="C:\JS-PROJECT\JS\javascript.js"></script>
</body>
</html>

